<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huyang.zhiqianquan.mapper.UserMapper">
    <select id="queryalluser" resultType="com.huyang.zhiqianquan.pojo.User">
        select  user_id as userid from user
    </select>
    <!--&lt;!&ndash;user的数据库实体映射&ndash;&gt;-->
    <!--<sql id="user">-->
<!--user_id as userId,-->
<!--user_name as userName,-->
<!--user_password as userPassword,-->
<!--user_vx as userVx,-->
<!--user_email as userEmail,-->
<!--user_image as userImage,-->
<!--user_scool as userScool,-->
<!--user_sex as userSex,-->
<!--user_country as userCountry,-->
<!--user_zhiwei as userZhiwei,-->
<!--user_zeiweiimage as userZeiweiimage,-->
<!--user_status as userStatus-->
    <!--</sql>-->
    <!--&lt;!&ndash;shixi的数据库实体映射&ndash;&gt;-->
    <!--<sql id="shixi">-->
<!--shixi_id as shixiId,-->
<!--user_id as userId,-->
<!--shixi_type as shixiType,-->
<!--shixi_image as shixiImage,-->
<!--shixi_country_name as shixiCountryName,-->
<!--shixi_zhiwei_name as shixiZhiweiName,-->
<!--shixi_zhiwei_type as shixiZhiweiType,-->
<!--shixi_city as shixiCity,-->
<!--shixi_ruzhi as shixiRuzhi,-->
<!--shixi_time as shixiTime,-->
<!--shixi_jianli as shixiJianli,-->
<!--shixi_dzhi as shixiDzhi,-->
<!--shixi_email as shixiEmail,-->
<!--shixi_commed as shixiCommed,-->
<!--shixi_data as shixiData,-->
<!--shixi_status as shixiStatus-->
    <!--</sql>-->
    <!--&lt;!&ndash;fangyuan的数据库实体映射&ndash;&gt;-->
    <!--<sql id="fangyuan">-->
<!--fangyuan_id as fangyuanId,-->
<!--user_id as userId,-->
<!--fangyuan_type as fangyuanType,-->
<!--fangyuan_city as fangyuanCity,-->
<!--fangyuan_quyu as fangyuanQuyu,-->
<!--fangyuan_weizhi as fangyuanWeizhi,-->
<!--fangyuan_money as fangyuanMoney,-->
<!--fangyuan_tel as fangyuanTel,-->
<!--fangyuan_biaoqian as fangyuanBiaoqian,-->
<!--fangyuan_title as fangyuanTitle,-->
<!--fangyuan_commed as fangyuanCommed,-->
<!--fangyuan_images as fangyuanImages,-->
<!--fangyuan_data as fangyuanData,-->
<!--fangyuan_status as fangyuanStatus-->
    <!--</sql>-->
    <!--&lt;!&ndash;查询所有用户信息&ndash;&gt;-->
    <!--<select id="queryalluser" resultType="com.zyspin.zysp.pojo.User">-->
        <!--select-->
        <!--<include refid="user"></include>-->
        <!--from user;-->
    <!--</select>-->
    <!--&lt;!&ndash;根据用户id查询用户信息&ndash;&gt;-->
    <!--<select id="queryuserbyid" resultType="com.zyspin.zysp.pojo.User" >-->
        <!--select <include refid="user"></include> from user  where user_id=#{userId};-->
    <!--</select>-->
    <!--&lt;!&ndash;根据用户id查询发布的实习信息&ndash;&gt;-->
    <!--<select id="queryshixibyuserid" resultType="com.zyspin.zysp.pojo.Shixi">-->
        <!--select <include refid="shixi"></include> from shixi where user_id=#{userId};-->
    <!--</select>-->
    <!--&lt;!&ndash;根据用户id查询发布的房源信息&ndash;&gt;-->
    <!--<select id="qweryfangyuanbyuserid" resultType="com.zyspin.zysp.pojo.Fangyuan">-->
        <!--select <include refid="fangyuan"></include> from fangyuan where user_id=#{userId};-->
    <!--</select>-->

</mapper>